<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sats2data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'header.html' %}}
</head>
<body>
<!--    <div class="container pt-5 mt-5">-->
<!--        <div class="text-center"><h1>sats2data</h1></div>-->
<!--        <div class="row">-->
<!--            <div class="col-6">-->
<!--                <form id="pn_form" action="/topup" method="POST">-->
<!--                    <div class="form-group row">-->
<!--                        <label for="country" class="w-100">Country</label><br>-->
<!--                        <select class="form-control" id="country" name="country">-->
<!--                            {% for country in countries_response: %}-->
<!--                                <option value="{{country['isoName']}}">{{ country['name'] }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <label for="phone_number" class="w-100">Phone Number</label><br>-->
<!--                        <input type="text" class="form-control col" id="phone_number" name="phone_number" placeholder="Enter phone number" required>-->
<!--&lt;!&ndash;                        <button type="submit" name="search" value="search" class="ml-2 btn btn-primary col-auto"><i class="fa fa-spinner fa-spin d-none"></i>Continue</button>&ndash;&gt;-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
        <p>Welcome to sat2data, turn your sats into data with seconds</p>
    <div>
        <a class="nav-link" href="/airtime">Buy Airtime</a>
    </div>
    <div>
        <a class="nav-link" href="/airtime">Buy Data</a>
    </div>

</body>
</html>