<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'header.html' %}}
</head>
<body>
    <main role="main" class="flex-shrink-0">
        <div class="container pt-5 mt-5">
            <div class="col text-center mb-4">
                <h1>Operators</h1>
            </div>
            <div class="col">
                <div class="row">
                    {% for content in operators_response['content']: %}
                        <a class="col-4">{{content['name']}} [ {{ content['destinationCurrencyCode'] }}]</a>
                    {% endfor %}
                </div>
<!--                <div class="row mt-3 justify-content-center">-->

<!--                    {{ operators_response['totalPages'] }}-->
<!--                        <div class="col-auto pr-0">-->
<!--                            <a href="operators.php?page=<?=$x?>" class="btn btn-sm btn-primary"><?=$x?></a>-->
<!--                        </div>-->
<!--                </div>-->
            </div>
        </div>
    </main>
</body>